body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.height {
  height: calc(100vh - 200px);
  box-sizing: border-box;
}
.max-height{
  height: 150px;
  max-height: 150px;
  max-width: 400px;
}